langchain>=0.0.263
faiss-cpu>=1.7.4
loguru>=0.7.0
pandas>=2.0.3
tqdm>=4.64.0
weaviate-client>=3.22.1
torch>=2.0.1 # see https://pytorch.org/get-started/locally (recommended)
pdfminer.six>=20221105
sentence-transformers>=2.2.2
fastapi>=0.100.0
uvicorn>=0.23.1
